<%- include('../partials/header') %>

<h1>Edit your Tasting Experience!</h1>
<form id="new-form" action="/beans" method="POST">

    <label>Coffee origin/ Name:</label>
    <input type="text" name="coffeename" value="<%=bean.coffeename%>">
    <label>Roaster:</label>
    <input type="text" name="roaster" value="<%=bean.roaster%>">
    <label>Roast:</label>
    <select name="roast" value="<%=bean.roast%>">
        <option value="green">Green</option>
        <option value="blonde">Blonde</option>
        <option value="light">Light</option>
        <option value="medium">Medium</option>
        <option value="medium-dark">Medium-Dark</option>
        <option value="dark">Dark</option>        
    </select>
    <label>Roast Date:</label>
    <input type="date" name="roastdate" value="<%=bean.roastdate%>">
    <label>Brew Date:</label>
    <input type="date" name="brewdate" value="<%=bean.brewdate%>">
    <label>Price</label>
    <input type="text" name="price" value="<%=bean.price%>">
    <label>Brew Methods:</label>
    <select name="brewmethod">
        <option <%=bean.brewmethod === 'espresso' ? 'selected' : '' %> value="espresso">Espresso</option>
        <option <%=bean.brewmethod === 'drip' ? 'selected' : '' %> value="drip">Drip</option>
        <option <%=bean.brewmethod === 'pourover' ? 'selected' : '' %>value="pourover">Pour-Over</option>
        <option <%=bean.brewmethod === 'press' ? 'selected' : '' %>value="press">Press</option>
        <option <%=bean.brewmethod === 'coldbrew' ? 'selected' : '' %>value="coldbrew">Cold Brew</option>
        <option <%=bean.brewmethod === 'cuppiing' ? 'selected' : '' %>value="cupping">Cupping</option>       
        <option <%=bean.brewmethod === 'aeropress' ? 'selected' : '' %>value="aeropress">Aeropress</option>        
        <option <%=bean.brewmethod === 'mokapot' ? 'selected' : '' %>value="mokapot">Moka Pot</option>        
        <option <%=bean.brewmethod === 'vaccumpot' ? 'selected' : '' %>value="vaccumpot">Vaccum Pot/Siphon</option>        
        <option <%=bean.brewmethod === 'turkish' ? 'selected' : '' %>value="turkish">Turkish</option>        
        <option <%=bean.brewmethod === 'other' ? 'selected' : '' %>value="other">Other</option>
    </select>
    <label>Beverage:</label>
    <input type="text" name="beverage" value="<%=bean.beverage%>"></input>
</form>

<%- include('../partials/footer') %>