<%- include('../partials/header') %>

    <section id="show-page">
        <div>Coffee origin/ Name:</div>
        <div><%= bean.coffeename %></div>
        <div>Roaster: </div>
        <div><%= bean.roaster %></div>
        <div>Roast: </div>
        <div><%= bean.roast %></div>
        <div>Roast Date: </div>
        <div><%= bean.roastdate %></div>
        <div>Price: </div>
        <div><%= bean.price %></div>
        <div>Brew Method: </div>
        <div><%= bean.brewmethod %></div>
        <div>Beverage: </div>
        <div><%= bean.beverage %></div>
        <div>Rating: </div>
        <div><%= bean.rating %></div>
        <div>Review: </div>
        <div><%= bean.review %></div>
      </section>

    <h5>No Tasting Experiences Yet!</h5>


<%- include('../partials/footer') %>
