<%- include('../partials/header') %>

<section id="show-page">
    <table>
        <tr>
            <th>Coffee origin/ Name:</th>
            <td><%= bean.coffeename %></td>
        </tr>
        <tr>
            <th>Roaster:</th>
            <td><%= bean.roaster %></td>
        </tr>
        <tr>
            <th>Roast:</th>
            <td><%= bean.roast %></td>
        </tr>
        <tr>
            <th>Roast Date:</th>
            <td><%= bean.roastdate %></td>
        </tr>
        <tr>
            <th>Brew Date:</th>
            <td><%= bean.brewdate %></td>
        </tr>
        <tr>
            <th>Price:</th>
            <td><%= bean.price %></td>
        </tr>
        <tr>
            <th>Brew Method:</th>
            <td><%= bean.brewmethod %></td>
        </tr>
        <tr>
            <th>Beverage:</th>
            <td><%= bean.beverage %></td>
        </tr>
    </table>
</section>

<br><br><h2>Reviews</h2>
<% if (user) { %>
    <form id="add-review-form" method="POST" action="/beans/<%= bean._id %>/reviews">
        <label>Review:</label>
        <textarea name="review"></textarea>
        <label>Rating:</label>
        <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        </select>
        <input type="submit" value="Add Review">
    </form>
<% } %>

<% if (bean.reviews.length) { %>  
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Review</th>
          <th>Rating</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% let total = 0 %>
        <% bean.reviews.forEach(function(b) { %>
          <% total += b.rating %>
          <tr>
            <td class="review-user"><img alt="avatar" src="<%= b.userAvatar %>"><%= b.userName %></td>
            <td><%= b.review %></td>
            <td><%= b.rating %></td>
            <td>
              <% if (user && user._id.equals(b.user)) { %>
                <form action="/reviews/<%= b._id %>?_method=DELETE" method="POST">
                  <button type="submit">X</button>
                </form>
              <% } %>
            </td>
          </tr>
        <% }); %>
        <tr>
          <td colspan="3"></td>
          <td><strong><%= (total / bean.reviews.length).toFixed(1) %></strong></td>
        </tr>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Reviews Yet</h5>
  <% } %>

<%- include('../partials/footer') %>
