<%- include('./partials/header') %>


<% if (user) { %>
  <h1 id="home">Welcome <%= user.name %>!</h1>
  <% } else { %>
    <h1 id="home">Welcome!</h1>
<% } %>

<img id="coffeeclub" src="/images/coffee_logo.svg">
    
<h2>TOP CHARTS</h2>
<table id="ratinglist">
    <thead>
      <tr>
        <th>Coffee Origin/ Name:</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% beans.forEach(function(b) { %>
        <tr>
          <td><a href="/beans/<%= b._id %>"><%= b.coffeename %></a></td>
          <td><%= b.avgRating ? b.avgRating.toFixed(1) : 'none' %></td>
        </tr>
        <% }); %>
      </tbody>
</table>

<%- include('./partials/footer') %>
