<%- include('./partials/header') %>

<% if (user) { %>
<h1 id="home">Welcome <%= user.name %>!</h1>
<% } else { %>
<h1 id="home">Welcome!</h1>
<% } %>

<table id="ratinglist">
    <thead>
      <tr>
        <th>Coffee Origin/ Name:</th>
        <th>rating</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% bean.reviews.forEach(function(b) { %>
        <tr>
          <td><%= b.coffeename %></td>
          <td><%= b.rating %></td>
        </tr>
        <% }); %>
      </tbody>
</table>

<%- include('./partials/footer') %>
